<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MonsterDB" connectionString="Data Source=sqltraining.cbz12pmboanw.us-east-1.rds.amazonaws.com; initial catalog= MonsterDB; User ID=sqluser;Password=sqlpassword" providerName="System.Data.SqlClient" />
    <!--add name="MonsterDBEntities" connectionString="metadata=res://*/MonsterModel.csdl|res://*/MonsterModel.ssdl|res://*/MonsterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqltraining.cbz12pmboanw.us-east-1.rds.amazonaws.com;initial catalog=MonsterDB;persist security info=True;user id=sqluser;password=sqlpassword;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
  </connectionStrings> 
  
</configuration>