<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <connectionStrings>
      <add name="MonsterDB" connectionString="Data Source=sqltraining.cbz12pmboanw.us-east-1.rds.amazonaws.com; initial catalog= MonsterDB; User ID=sqluser;Password=sqlpassword" providerName="System.Data.SqlClient" />
      <!--add name="MonsterDBEntities" connectionString="metadata=res://*/MonsterModel.csdl|res://*/MonsterModel.ssdl|res://*/MonsterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqltraining.cbz12pmboanw.us-east-1.rds.amazonaws.com;initial catalog=MonsterDB;persist security info=True;user id=sqluser;password=sqlpassword;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
    </connectionStrings>
    
    
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>