@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Cooking Academy</h1>
    <p class="lead"> Here you will  learn to cook, cooking is essential to eating...for most people who are cheap:)</p>
    <p><a href=http://www.cookingchanneltv.com/home.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">

</div>
