<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ToDoEntities" connectionString="metadata=res://*/ToDoList.csdl|res://*/ToDoList.ssdl|res://*/ToDoList.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqltraining.cbz12pmboanw.us-east-1.rds.amazonaws.com;initial catalog=ToDo;user id=sqluser;password=sqlpassword;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ToDoEntities1" connectionString="metadata=res://*/TodoList.csdl|res://*/TodoList.ssdl|res://*/TodoList.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqltraining.cbz12pmboanw.us-east-1.rds.amazonaws.com;initial catalog=ToDo;user id=sqluser;password=sqlpassword;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ToDoEntities3" connectionString="metadata=res://*/todolist.csdl|res://*/todolist.ssdl|res://*/todolist.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqltraining.cbz12pmboanw.us-east-1.rds.amazonaws.com;initial catalog=ToDo;user id=sqluser;password=sqlpassword;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>